.main-services{
    text-align: center;
    margin-top: 10rem;
    color: rgb(211, 206, 206);
    padding: 3rem 0;
}
.services{
    margin: 6rem 0;
}
.services h4{
    color:#0a0a0a;
    margin: 2rem 0;
    letter-spacing: 0.2rem;
    font-size: 2.4rem;
}
.main-services h2{
    color:#0a0a0a;
    letter-spacing: 0.5rem;
    font-size: 3rem;
}
.services p{
    color: #818386;
    letter-spacing: 0.01rem;
    font-size: 1.2rem;
}